html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



:root {
  --black: opacity;
}

body {
  color: #4b4e4e;
  background: var(--black);
}

.tw-connected-wallet {
  background: #3C1B32 !important; 
 }

 .container {
  background-color: transparent !important;
}

 .css-6og8le{
 background-color:rgba(255,255,255,0) !important;  
 }

 .css-1hr3n8y {
  background: #3C1B32 !important;
  top: 200px !important;
 }

 .css-1309xma {
  background: #3C1B32 !important;
  top: 200px !important;
 }