.container {
  background-color: transparent !important;
  background-image: none !important;
  background: transparent !important;
}

.wallet {
  margin-top: 2rem;
  color:#ebebee !important;
  background: #3C1B32 !important;
}

.loading {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  position: absolute;
  padding: 5px 24px;
  background: 
        url("https://ipfs.thirdwebcdn.com/ipfs/QmckqJD8PqdNG24uXxDyWA7DPHx6p68dotpcGNWqjSJGqn/Spinner-1s-200px%20(1).svg") top
        no-repeat;

}

.textbox {
  color:#3C1B32 !important;
  background: rgba(217, 183, 245, 0.1);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 18px 0 #82919b;
  margin-bottom: 10px !important;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: opacity !important;
}

.stakeContainer {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: #3C1B32 !important;
  color:#ebebee !important;
  padding: 5px;
  margin-left: 10px !important;
  margin-bottom: 10px !important;
}

.title a {
  color: #f213a4;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.connect {
  margin-top: 2rem;
  width: 230px;
}

.description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  background: rgba(217, 183, 245, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  border: 1px solid rgba(46, 44, 44, 0.4);
  box-shadow: 0 0 18px 0 #82919b;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #4d5666;
  color: #ffdbf5;
  border-color: #ffdbf5;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card,
.footer {
  
}
.code {
  background: opacity !important;
}
.logo img {
  filter: invert(1);
}
